.header__lang-link_ru {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  margin-left: 84px;
  margin-right: 18px;
  margin-top: 14px;
}