.header__lang-link_en {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-top: 14px;
  text-decoration: none;
}