.place__image {
  margin-top: 32px;
  width: 100vw;
  margin-left: -16px;
  margin-right: -16px;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px) {
  .place__image {
    margin: 0;
  }
}