.lead__image {
    width: 100vw;
    height: 62.5vw;
    object-fit: cover;
    object-position: center;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .lead__image {
    margin-left: 48px;
    margin-right: 48px;
    width: calc(100% - 2*48px);
    height:  calc((100% - 2*48px) * 0.625);
  }
}

@media screen and (min-width: 1280px) {
    .lead__image {
      margin: 0 148px;
      width: calc(100% - 2*148px);
      height:  calc((100% - 2*148px) * 0.625);
    }
  }