.lead__subtitle {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    background-color: #2A2C2F;
    text-align: center;
    margin-bottom: 40px;
}