.lead__caption {
  color: #fff;
  text-transform: uppercase;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  margin: 8px auto 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1280px) {
  .lead__caption {
    margin-left: 100px;
  }
}