.footer {
  margin-top: 64px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer li {
  margin-bottom: 32px;
}

.footer li:last-of-type {
  margin-bottom: 48px;
}